@charset "utf-8";

/*==================================================
スライダーのためのcss
===================================*/
.slider {
    position:relative;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
  height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
/*　背景画像設定　

.slider-item01 {
    background:url(/assets/img/mainvisual1.jpeg);
}

.slider-item02 {
    background:url(/assets/img/mainvisual2.jpeg);
}

.slider-item03 {
    background:url(/assets/img/mainvisual3.jpeg);
}
*/
.slider-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

:root {
    --dark-color: #333333;
    --white-color: #FFFFFF;
    --primary-color: #0071BC;
    --primary-light-color: #F7F9FB;
    --gray-color: #ADADAD;
    --gray-light-color: #EEEEEE;
    --gray-dark-color: #666666;
    --twitter-color: #1D9BF0;
  }
  
  /**
   * 1.2 - ベーススタイル
   */
  html {
    /* 滑りをよくする */
    scroll-behavior: smooth;                    
  }
  
  body {
    /* bodyの文字の基本を決める */
    color: #333333;
    font-family: "Noto Sans JP", sans-serif;
  }
  
  .wrapper1 {
    padding: 80px 0; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    gap: 120px;
    overflow: hidden;
    z-index: 1;
}

.section {
    padding-top: 80px;
    margin-top: 0; /* This negative margin might be causing the overlap */
    margin: 0 240px; 
}

  
  /**
   * 1.3 - 汎用スタイル
   */
  .container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: content-box;
  }
  
  
  .section-title{
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
  }

  .section-lead {
    margin-top: 40px;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: .05em;
  }
  
  .section-body {
    margin-top: 40px;
  }
  
  .title {
    text-align: center;
  }
  
  .title-ja {
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: .05em;
    display: block;
    font-weight: bold;
  }
  
  .title-en {
    font-weight: bold;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .1em;
    margin-top: 8px;
    color: #0071BC;
    font-family: 'Plus Jakarta Sans', sans-serif
  }


/* header */

.header {
    display: flex; 
    align-items: center; 
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border-bottom: solid 1px var(--gray-light-color);
    padding: 0 24px;
    z-index: 10000;
    transition: background-color .3s linear;
}
  .header-logo {
    width: 240px;
    padding-left: 50px;
  }
  
/* ハンバーガーメニューのボタン */
  .header-button {
    width: 42px;
    height: 42px;
    position: relative;
    margin-left: auto;
    z-index: 1;
  }

  .header-buttonLine {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-buttonLine:nth-of-type(1) {
    top: 13px;
  }

  .header-buttonLine:nth-of-type(2) {
    top: 20px;
  }

  .header-buttonLine:nth-of-type(3) {
    top: 27px;
  }

  .header.is-open .header-buttonLine:nth-of-type(1) {
    transform: translateX(-50%) rotate(45deg);
    top: 20px;
  }

  .header.is-open .header-buttonLine:nth-of-type(2) {
    opacity: 0;
  }

  .header.is-open .header-buttonLine:nth-of-type(3) {
    transform: translateX(-50%) rotate(-45deg);
    top: 20px;
  }
  /* ハンバーガーメニューの中身 */
  .header-nav {
    height: 60px;
    visibility: hidden;
    position: fixed;
    inset:0;
    display: flex;
    align-items: center;
    background-color: transparent;
    opacity:1;
    margin-left: auto;
    gap: 0;
    padding: 120px 24px 40px;
    transition: visibility .3s linear, opacity .3s linear;
  }
  .header.is-open .header-nav {
    visibility: visible;
    opacity: 1;
  }
  .header-navList {
    display: flex;
    width: 50%;
    margin-left: auto;
    align-items: center;
    gap: 30px;
  }
  .header-navItem{
    font-size: 24px;
  }

  /* 透明化 */
  .header.is-transparent{
    background-color: transparent;
    border:none;
  }
  .header.is-transparent:not(.is-open).header-logo {
    filter:brightness(10);
  }
  .header.is-transparent:not(.is-open).header-navLink{
    color: #ffffff;
  }
  .header.is-transparent:not(.is-open) .header-snsLink {
    filter: brightness(10);
  }

/* style.css */

.slider-item {
  width: 100%;
  height: 100vh; /* 画面の高さいっぱいに表示するための設定 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*矢印の設定*/

.slick-prev, 
.slick-next {
    position: absolute;
  z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #fff;/*矢印の色*/
    border-right: 2px solid #fff;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  position: relative;
  z-index: 3;
    text-align:center;
  margin:-50px 0 0 0;/*ドットの位置*/
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#fff;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/
ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #fff;
}

a:hover,
a:active{
  text-decoration: none;
}

h1{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size:50px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.wrapper{
  position: relative;
}

.situation {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.situation h2 {
  margin-bottom: 20px;
}

.situation-content {
  display: flex;
}

.first-img {
  width: 150px;
}

.first-text {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 550px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  border-radius: 15px;
}

.first-text:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.first-text:after {
content: "";
position: absolute;
top: 50%;
left: -30px;
margin-top: -14px;
border: 14px solid transparent;
border-right: 14px solid #555;
z-index: 1;
}

.point h2 {
margin-top: 70px;
margin-bottom: 10px;
font-size: 20px;
font-weight: bold;
}

.point-listItem {
margin-top: 30px;
}
.point-textLeft p {
margin: 0;
padding: 0;
}

.point-textLeft {
position: relative;
display: inline-block;
margin: 1.5em 0 1.5em 15px;
padding: 7px 10px;
min-width: 550px;
max-width: 100%;
color: #555;
font-size: 16px;
background: #FFF;
border: solid 3px #555;
box-sizing: border-box;
border-radius: 15px;
text-align: center;
line-height: 30px;
padding-top: 30px;
}

.point-textLeft:before {
content: "";
position: absolute;
top: 50%;
left: -24px;
margin-top: -12px;
border: 12px solid transparent;
border-right: 12px solid #FFF;
z-index: 2;
}

.point-textLeft:after {
content: "";
position: absolute;
top: 50%;
left: -30px;
margin-top: -14px;
border: 14px solid transparent;
border-right: 14px solid #555;
z-index: 1;
}

.point-textLeft p {
margin: 0;
padding: 0;
}

.point-listImg {
width: 150px;
}

.point-textRight {
position: relative;
display: inline-block;
margin: 1.5em 15px 1.5em 0;
padding: 7px 10px;
min-width: 550px;
max-width: 100%;
color: #555;
font-size: 16px;
background: #FFF;
border: solid 3px #555;
box-sizing: border-box;
border-radius: 15px;
text-align: center;
padding-top: 22px;
line-height: 30px;
}

.point-textRight:before {
content: "";
position: absolute;
top: 50%;
right: -24px;
margin-top: -12px;
border: 12px solid transparent;
border-left: 12px solid #FFF;
z-index: 2;
}

.point-textRight:after {
content: "";
position: absolute;
top: 50%;
right: -30px;
margin-top: -14px;
border: 14px solid transparent;
border-left: 14px solid #555;
z-index: 1;
}

.point-textRight p {
margin: 0;
padding: 0;
}

.point-list {
display: flex;
}

/* plan */
 /* プラン */
 #plan{
  display: flex;
  flex-direction: column;
}
.plan-day{
  width: 100%; 
  /* 注意 */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}
.plan-title{
font-size: 120px;
font-weight: bolder;
line-height: 1.8;
}
.plan-inner{
display: flex;
flex-direction: column;
align-items: center;
}
.plan-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; /* 追加 */
margin-bottom: 30px;
width: 800px;
height: 400px;
border: solid 1px #333333;
}
.plan-date{
margin-right: auto;
margin-bottom: 25px;
font-size: 30px;
}
.plan-package{
display: flex;
width: 800px;
height: 400px;
border: solid 1px #333333;
}
.plan-image{
border: solid 1px #333333;
width: 500px;
}
.plan-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 300px;
}

.plan-do {
font-size: 50px;
margin-bottom: 20px;
text-align: center;
}

.plan-place {
font-size: 25px;
margin-bottom: 15px;
}
.plan-sentence{
font-size: 1px;
}

.plan-image1{
  background: url(../img/fukuoka1.jpg)  center center / cover no-repeat;
}
.plan-image2{
  background: url(../img/fukuoka2.jpg)  center center / cover no-repeat;
}
.plan-image3{
  background: url(../img/fukuoka3.jpg)  center center / cover no-repeat;
}
.plan-image4{
  background: url(../img/fukuoka4.jpg)  center center / cover no-repeat;
}
.plan-image5{
  background: url(../img/fukuoka5.jpg)  center center / cover no-repeat;
}
.plan-image6{
  background: url(../img/fukuoka6.jpg)  center center / cover no-repeat;
}
.plan-image7{
  background: url(../img/fukuoka7.jpg)  center center / cover no-repeat;
}
